<!-- masonary title -->
<div class="masonary-title-box text-uppercase">
<div class="masonary-title">
	<h2>My  Space</h2>
	<p data-ng-hide="mySpaceMsg">SEE YOUR COMPLETED ACTIVITIES BELOW</p>
</div>
<div class="result-numbers pull-right">
	<!-- <p>Showing 9/274 <span></span></p> -->
</div>
</div>
<!-- masonary title -->
<!--Masonary Grid  -->
<div class="masoranyGridBox">
	<div id="masoranyGrid1" class="clearfix">
	<!-- gridItem starts -->
		<img data-ng-show="spaceloader" src="assets/img/ajax-loader.gif"/>
		<div  data-ng-hide ="spaceloader" class="girdItem heightOne" data-ng-repeat="spaceList in mySpaceList" data-ng-click="viewActivitySpace(spaceList._id)">
			<h5 class="heading-article">
			    <span>
			        <span  data-ng-bind="spaceList.user.local.name"> </span>
			    </span>
			</h5>
			<div class="video-box">
				<!-- <img data-ng-if="spaceList.url !== ''" alt="" src="{{spaceList.url}}">
				<img data-ng-if="spaceList.url == ''" alt="" src="assets/img//videoBox.jpeg"> -->
				<span data-ng-if="spaceList.url !== ''" ng-style="{'background-image':'url({{spaceList.url}})'}"></span>
				<span  data-ng-if="spaceList.url == ''" ng-style="{'background-image':'url(assets/img/icons/video-lag.png)'}"></span>
			</div>
			<div class="main-artcle">
				<a href="" data-ng-bind="spaceList.description.substr(0,20) + '....'"></a>
			</div>
			<div>
				<ul class="webActions clear-fix">
					<li><a href="" class="like-small"><span class="glyphicon glyphicon-comment eye" aria-hidden="true"></span><span>27</span> </a></li>
					<li><a href="" class="bookmark-small"><span class="glyphicon glyphicon-eye-open eye" aria-hidden="true"></span><span data-ng-bind="spaceList.likes.length"></span> </a></li>
					<li class="you-tube" ng-click="$event.stopPropagation()">
						<a  class="bookmark-small pull-right" data-ng-click="confirmClick() && deleteMyActivity($event,spaceList._id,spaceList.url)" confirm-click>
					<i class="fa fa-youtube"></i>
          	</a></li>
				</ul>
			</div>
		</div>
	<span data-ng-show="mySpaceMsg"> There is no activity</span>	
	</div>
</div>
<!--Masonary Grid  -->

